<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://avatars.githubusercontent.com/u/98026058?s=400&u=e25f5dc9769d9852036526d7b6bff7327cff6271&v=4" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{me.name}}</h5>
    <p class="card-text">Yaş: {{me.age}}</p>
    <p class="card-text">Okul: {{me.school}}</p>
    <p class="card-text">Şehir: {{me.city}}</p>
    <p class="card-text">Ünvan: {{me.title}}</p>
    <p class="card-text">Tel: {{me.phone}}</p>
  </div>
</div>
