<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Github Link</th>
      <th scope="col">Project Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{work1.title}}</td>
      <td>{{work1.link}}</td>
      <td><img class="work-image" src={{work1.image}}></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{work2.title}}</td>
      <td>{{work2.link}}</td>
      <td><img class="work-image-2" src={{work2.image}}></td>
    </tr>
  </tbody>
</table>
